@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap');
* {
    transition: 0.8s;
margin: 0;
padding: 0;
outline: 0;
font-family: Arial, "poppins";
}

a {
    text-decoration: none;
  }
  
  li {
    list-style: none;
  }
  

  .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #1d1d1d;
    color: #fff;
  }
  
  .nav-links a {
    color: #fff;
  }
  .logo {
    height: 5%;
    width: 5%;
  }
  .image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: all .3s ease-in-out;
  }

  .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
  }
  .menu li:hover {
    color: rgb(43, 43, 43);
    background-color: #afafaf;
    border-radius: 5px;
    transition: 0.3s ease;
  }
  .menu li:hover a {
    color: rgb(209, 209, 209);

    border-radius: 5px;
    transition: 0.3s ease;
  } 
  .menu li {
    padding: 5px 14px;
  }

  .services {
    position: relative;
  }
  .dropdown {
    color: #fff;
    background-color: #1d1d1d;
    padding: 1em 0;
    position: absolute; 
    display: none;
    border-radius: 8px;
    top: 35px;
  }
  .dropdown li {
    color: #fff;
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
  }
  .dropdown li:hover {
    color: rgb(43, 43, 43);
    background-color: #c7c7c7;
  }
  .dropdown li:hover a {
    color: rgb(43, 43, 43);
  }
  .services:hover .dropdown {
    display: block;
  }
  
  .arrow {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-top: 2px solid #000;
    border-right: 2px solid #000;
    border-color: #fff;
    margin-left: 3px;
    margin-bottom: 2px;
  }
  
  .arrow-bottom {
    transform: rotate(135deg);
  }
  
  input[type="checkbox"] {
    display: none;
  }
  .hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
  }
  @media (max-width: 768px) {
    .menu {
      display: none;
      position: absolute;
      background-color: rgb(15, 15, 15);
      right: 0;
      left: 0;
      text-align: center;
      padding: 16px 0;
    }
    .menu li:hover {
      display: inline-block;
      background-color: rgb(15, 15, 15);
      transition: 0.3s ease;
    }
    .menu li + li {
      margin-top: 12px;
      width: 100%;
    }
    input[type="checkbox"]:checked ~ .menu {
      display: block;
    }
    .hamburger {
      display: block;
    }
    .dropdown {
        color: #fff;
      left: 50%;
      top: 30px;
      transform: translateX(35%);
    }

    .dropdown li:hover {
        color: #fff;
      background-color: #c0c0c0;
    }
    .dropdown li:hover a {
        color: rgb(43, 43, 43);

    }
  }
  body{
    line-height: 1.5;
    font-family: 'Poppins', sans-serif;
  }
  *{
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  .container{
    max-width: 1170px;
    margin:auto;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
  }
  ul{
    list-style: none;
  }
  .footer{
    margin-top: 20%;
    background-color: #1d1d1d;
      padding: 70px 0;
  }
  .footer-col{
     width: 25%;
     padding: 0 15px;
  }
  .footer-col h4{
    font-size: 18px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 35px;
    font-weight: 500;
    position: relative;
  }
  .footer-col h4::before{
    content: '';
    position: absolute;
    left:0;
    bottom: -10px;
    background-color: #761ee9;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
  }
  .footer-col ul li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: #ffffff;
    text-decoration: none;
    font-weight: 300;
    color: #bbbbbb;
    display: block;
    transition: all 0.3s ease;
  }
  .footer-col ul li a:hover{
    color: #ffffff;
    padding-left: 8px;
  }
  .footer-col .social-links a{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: rgba(255,255,255,0.2);
    margin:0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: all 0.5s ease;
  }
  .footer-col .social-links a:hover{
    color: #1d1d1d;
    background-color: #ffffff;
  }
  .social-links a img{
    margin-top: 8%;
    width: 80%;
    height: 80%;
  }
  .social-links a:hover img{
    margin-top: 8%;
    color: #fff;
    width: 80%;
    height: 80%;
  }
  
  /*responsive*/
  @media(max-width: 767px){
    .footer-col{
      width: 50%;
      margin-bottom: 30px;
  }
  }
  @media(max-width: 574px){
    .footer-col{
      width: 100%;
  }
  }
  .title {
    margin-top: 20%;
    text-align: center;
    align-items: center;
    font-size: 80px;
    font-family: 'Poppins';
    color: #fff;
    animation-name: titlefloat;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  }
  @keyframes titlefloat {
    0% {
      margin-top: 20%;
    text-align: center;
    align-items: center;
    font-size: 90px;
    font-family: 'Poppins';
    color: #fff;
    

    }
    50% {
      margin-top: 20%;
    text-align: center;
    align-items: center;
    font-size: 80px;
    font-family: 'Poppins';
    color: #fff;

    }
    100% {
      margin-top: 20%;
    text-align: center;
    align-items: center;
    font-size: 90px;
    font-family: 'Poppins';
    color: #fff;

    }
  }
  
  