@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap');
* {
margin: 0;
padding: 0;
outline: 0;
}
::-webkit-scrollbar {
    width: 0px;
  }
.navbar {
    position: absolute;
width: 100%;
height: 101px;
left: 0px;
top: 0px;

background: linear-gradient(270deg, #7044F2 0%, #4115BB 100%);
}
.navicon {
    position: absolute;
width: 150px;
height: 150px;
left: 56.45px;
top: 137.45px;
}
.videointro {
    position: absolute;
width: 99.5%;
height: 920px;
left: 0px;
top: 101px;

}
.filtrevideo {
    
position: absolute;
width:  99.5%;
height: 920px;
left: 0px;
top: 101px;

background: rgba(255, 255, 255, 0.1);
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(2px);
}
.Ontami {
    position: absolute;
width: 717px;
height: 89px;
left: 178px;
top: 330px;

font-family: 'Poppins';
font-style: normal;
font-weight: 900;
font-size: 64px;
line-height: 96px;

color: #FFFFFF;

}
.creator {

position: absolute;
width: 394px;
height: 52px;
left: 238px;
top: 419px;

font-family: 'Poppins';
font-style: normal;
font-weight: 900;
font-size: 24px;
line-height: 36px;

color: #FFFFFF;
}

.playbouton {
    transition: 0.5s;
    position: absolute;
width: 90px;
height: 90px;
left: 905px;
top: 633px;

background: #FFFFFF;
border-radius: 888px;
}
.play {
    cursor: pointer;
    position: absolute;
width: 58px;
height: 58px;
left: 18px;
top: 16px;
}
.playelement:hover .playbouton {
    transition: 0.5s;
    position: absolute;
width: 323px;
height: 90px;
left: 789px;
top: 644px;

background: #FFFFFF;
border-radius: 888px;
}
.textplay a{
    text-decoration: none;
    opacity: 0%;
    transition: 0.5s;
    position: absolute;
    width: 199px;
    height: 53px;
    left: -20px;
    top: 16px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 900;
    font-size: 10px;
    line-height: 60px;
    text-align: center;
    
    color: #000000;
}
.playelement:hover .textplay a{
    opacity: 100%;
    transition: 0.5s;
    position: absolute;
width: 199px;
height: 53px;
left: 76px;
top: 16px;

font-family: 'Poppins';
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 60px;
text-align: center;

color: #000000;

}
.div1 {
    transition: 0.5s ;
position: absolute;
width: 377px;
height: 474px;
left: 217px;
top: 349px;

background: rgba(255, 255, 255, 0.1);
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(2px);
border-radius: 8px;
}
.div1:hover {
    transition: 0.5s ;
    position: absolute;
    width: 377px;
    height: 474px;
    left: 217px;
    top: 339px;
    
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(2px);
    border-radius: 8px;
    }
.div2 {
    transition: 0.5s ;
    position: absolute;
width: 377px;
height: 474px;
left: 762px;
top: 322px;

background: rgba(255, 255, 255, 0.1);
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(2px);
border-radius: 8px;
}
.div2:hover {
    transition: 0.5s ;
    position: absolute;
width: 377px;
height: 474px;
left: 762px;
top: 312px;

background: rgba(255, 255, 255, 0.1);
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(2px);
border-radius: 8px;
}
.div3 {
    transition: 0.5s ;
    position: absolute;
width: 377px;
height: 474px;
left: 1307px;
top: 349px;

background: rgba(255, 255, 255, 0.1);
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(2px);
border-radius: 8px;
}
.div3:hover {
    transition: 0.5s ;
    position: absolute;
width: 377px;
height: 474px;
left: 1307px;
top: 339px;

background: rgba(255, 255, 255, 0.1);
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(2px);
border-radius: 8px;
}
.ontamia a {
    text-decoration: none;
    position: absolute;
width: 322px;
height: 61px;
left: 53px;
top: 19px;

font-family: 'Poppins';
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 60px;
text-align: center;

color: #FFFFFF;

}
.yttriumicon {
    position: absolute;
width: 300px;
height: 300px;
left: 38px;
top: 29px;
}
.yttrium a {
    text-decoration: none;
position: absolute;
width: 279px;
height: 64px;
left: 49px;
top: 356px;

font-family: 'Poppins';
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 60px;
text-align: center;

color: #000000;
}
#dark {
    background-color: #0a0a0a;
}
.portalicon {
    position: absolute;
width: 200px;
height: 321.75px;
left: 88px;
top: 34px;

}
.portal a {
    text-decoration: none;
    
position: absolute;
width: 279px;
height: 64px;
left: 49px;
top: 367px;

font-family: 'Poppins';
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 60px;
text-align: center;

color: #000000;
}
.anvil {
    
position: absolute;
width: 300px;
height: 300px;
left: 38px;
top: 47px;

}
.modtext a{
    text-decoration: none;
    position: absolute;
width: 377px;
height: 64px;
left: 0px;
top: 356px;

font-family: 'Poppins';
font-style: normal;
font-weight: 900;
font-size: 40px;
line-height: 60px;
text-align: center;

color: #000000;
}